<!-- Toolbar -->
<mat-toolbar>

  <span class="logoText">Aplikacja do zarządzania projektami</span>
  <span class="example-spacer"></span>
  <button class="myButton">
    <a class="myButton2" routerLink="/dodajStudenta" >Dodaj studenta</a>
  </button>
  <button class="myButton">
    <a class="myButton2" routerLink="/dodajProjekt" >Dodaj projekt</a>
  </button>
  <button class="myButton">
    <a class="myButton2" routerLink="/projekty">Lista projektów</a>
  </button>

</mat-toolbar>


<div class="content" role="main">

  <router-outlet></router-outlet>

</div>




