<mat-card *ngIf="student">
  <div class="infoProject center">
  <h1>Informacje o studencie</h1>
  <p class="text-bold">Imię: {{student.imie}}</p>
  <p class="text-bold">Nazwisko: {{student.nazwisko}}</p>
  <p class="text-bold">Email: {{student.email}}</p>
  <p class="text-bold">Nr indeksu: {{student.nrIndeksu}}</p>
  <p class="text-bold">Stacjonany :  {{student.stacjonarny ? 'tak' : 'nie'}}</p>
  <h3>Projekty powiązane ze studentem: </h3>
  <ul class="projektyStudenta">
    <li *ngFor="let p of projekty">
      <a href="projekt/{{ p.projektId }}">
        <span class="projekt">({{p.projektId}})  </span>
        <span class="projekt"> {{p.nazwa}} </span>
      </a>
    </li>
  </ul>
</div>
</mat-card>
